 @CHARSET "UTF-8";
body {		
  background: url(erasmus.png) no-repeat center;
  background-size: 50% 90%;
  background-attachment: fixed;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

*{
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}


h1{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
h2{
	font-weight: bold;
}

.sumaIspis{
    font-size: 16px;
    color: red;
    font-weight: bold;
}
